* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: hsl(216, 15%, 48%);   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
} 

.qr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 290px;
    border-radius: 15px;
    padding: 15px;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.text-container{
    padding:8px
}
.text{
    padding: 10px;
    text-align: center;

}
.text1{
    font-style: bold;
    font-weight: bold;
}
.text2{
    font-size: 12px;
}

.maker{
    text-decoration: none;
    color: rgb(0, 0, 0)
}
